footer {
  height: 100px;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: white;
  display:  flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.logo {
  width: 100px;
  padding: 15px;
  right: 15px;
}
.text-footer-band-name {
  color: #ffffff;
  font-size: large;
}