footer {
  height: 100px;
  background-color: #000; 
  bottom: 0;
  width: 96%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Teko", sans-serif;

  padding: 0 2%;
  margin-top: 30px;
  border-color: white;
  border-width: 2px 0px 0px;
  border-style: solid;
}

.text-footer-band-name {
  font-size: 30px;
}
.text-footer-copyrigth {
  font-size: 30px;
}
@media (max-width: 768px) {
  footer {
    align-items: center;
  }

  .text-footer-band-name {
    font-size: 80%;
    margin-right: 10px;
  }
  .text-footer-copyrigth {
    font-size: 80%;
    margin-right: 8px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    align-items: center;
  }

  .text-footer-band-name {
    font-size: 80%;
  }
  .text-footer-copyrigth {
    font-size: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  footer {
    height: 100px;
    background-color: black;
    bottom: 0;
    width: 96%;
    color: white;
    display: flex;
    justify-content: space-evenly;

    padding: 0 2%;
    margin-top: 30px;
    border-color: white;
    border-width: 2px 0px 0px;
    border-style: solid;
  }
  .text-footer-band-name {
    font-size: 80%;
  }
  .text-footer-copyrigth {
    font-size: 80%;
  }
  
}
