#gallery {
  border-radius: 15px;
  color: #ffffff;
  font-family: "Teko", sans-serif;
  margin: 0 20px 0 20px;
  height: 55em;
}
#gallery-title {
  font-size: 3em;
  text-decoration: underline #ffd200;
  margin-left: 30px;
}

#gallery-1 {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: space-around;
}
.gallery-image {
  height: 20em;
  width: 20em;
}

.gallery-image:hover {
  width: 22em;
  height: 22em;
  border: 1px solid white;
}
#gallery-2 {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  #gallery {
    height: 118em;
  }

  #gallery-1 {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .gallery-image {
    height: 10em;
    width: 10em;
    margin-bottom: 10px;
  }

  .gallery-image:hover {
    width: 12em;
    height: 12em;
  }
  #gallery-2 {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #gallery {
    height: 166em;
  }

  #gallery-1 {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .gallery-image {
    height: 15em;
    width: 15em;
    margin-bottom: 10px;
  }

  .gallery-image:hover {
    width: 16em;
    height: 16em;
  }
  #gallery-2 {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .gallery-image {
    height: 10em;
    width: 10em;
  }

  .gallery-image:hover {
    width: 12em;
    height: 12em;
    border: 1px solid white;
  }
  #gallery {
    height: 32em;
  }
}
