@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import "header.css";
@import './home.css';
@import "/src/assets/styles/about.css";
@import "/src/assets/styles/gallery.css";
@import "footer.css";
body {
    margin: 0px;
    padding: 0px;
    min-width: 100vh;
    background-color: rgb(0, 0, 0);
  }




























