#home {
  display: flex;
  border-radius: 15px;
  background-color: #202020; 
  color: #fff;
  font-family: "Teko", sans-serif;
  margin: 110px 20px 0 20px;
  height: 50em;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-decoration: underline #ffd200;
}
.fa-brands {
  margin: 0 10px 0 10px;

}
#video-song {
  width: 100%;
  height: 50%;
}

.presentacion {
  display: flex;

  width: 45%;
  height: 20%;
  justify-content: center;
  margin-top: 15px;
}

.text-presentacion {
  font-size: 1.3em;
  float: right;
  padding: 10px 10px;
  text-align: inherit;
}
@media (max-width: 768px) {
  #home {
    height: 35em;
  }

  #video-song {
    width: 80%;
    height: 30%;
  }

h1{
margin: 8px 0;



}
  .fa-brands {
    margin-bottom: 10px;
    
    
  }
  .presentacion {
    display: flex;
    background-color: #000;
    width: 65%;
    height: 22%;
  }

  .text-presentacion {
    font-size: 0.8em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #video-song {
    width: 90%;
    height: 50%;
  }

  .presentacion {
    display: flex;
    background-color: #000;
    width: 60%;
    height: 15%;
  }

  .text-presentacion {
    font-size: 1.1em;
  }
}

.fa-brands {
  margin-bottom: 10px;
  
  
}

h1{
  margin: 8px 0;
   
  }